{# src/CM/PlatformBundle/Resources/views/Platform/list.html.twig #}

{% extends "::index.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block bsFile %}
    {{ parent() }}
{% endblock %}

{% block contentBody %}
    {{ parent() }}
    <div class="row" style="text-align:center;">
        <div class="btn-group">
            <a href="{{ path('cm_platform_add') }}" class="btn btn-primary" role="button">
                <i class="fa fa-user-plus" aria-hidden="true"></i> Ajouter</i>
            </a>
            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-primary" role="button">
                <i class="fa fa-sign-out" aria-hidden="true"> Déconnexion</i>
            </a>
        </div>
    </div>
    <br />
    <div class="row">
        
        {% for client in listClients %}
            <div class="listeObject col-lg-12">
                    <a href="{{ path('cm_platform_view', {'id': client.0.id}) }}">
                        {{ client.0.nom }} {{ client.0.prenom }}
                    </a>

                    <span class="pull-right" style="text-decoration: none;text-color: black;">
                        <a href="{{ path('cm_platform_view', {'id': client.0.id}) }}" class="btn btn-primary btn-xs" role="button">
                            <i class="fa fa-user" aria-hidden="true"> Afficher</i>
                        </a>
                        <a href="{{ path('cm_platform_edit', {'id': client.0.id}) }}" class="btn btn-primary btn-xs" role="button">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"> Modifier</i>
                        </a>
                        <a href="{{ path('cm_platform_delete', {'id': client.0.id}) }}" class="btn btn-danger btn-xs" role="button">
                            <i class="fa fa-trash-o" aria-hidden="true"> Supprimer</i>
                        </a>
                    </span>
            </div>
        {% endfor %}
    </div>
    <!-- Site footer -->
    <footer class="footer">
        <p>&copy; {{ 'now'|date('Y') }} ClientManager</p>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
